In [10]:
#importing the libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [12]:
#Reading the Dataset
dataset = pd.read_csv('insurance_pre.csv')

In [14]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [16]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [18]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [20]:
independent=dataset[['age', 'bmi', 'children','sex_male','smoker_yes']]
dependent=dataset['charges']

In [22]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(independent,dependent,test_size=1/3, random_state=0)

In [24]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [37]:

#from sklearn.tree import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid= {'criterion':['squared_error','friedman_mse','absolute_error','poisson'],'max_features':[None,'sqrt','log2'],'n_estimators':[50,100]}

grid = GridSearchCV(RandomForestRegressor(),param_grid, refit = True, verbose = 3,n_jobs=-1)
#fitting the model for grid search
regressor=grid.fit(X_train, y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

In [42]:
#print  best parameter after tuning
#print(grid.best_params_)

grid_predictions = regressor.predict(X_test)
#print classification report
from sklearn.metrics import r2_score
r_scorer=r2_score(y_test,grid_predictions)
print("The R_score vaue for best parameter {}:".format(grid.best_params_),r_scorer)

The R_score vaue for best parameter {'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 100}: 0.876496810238295